<html>
  <head>
    <title>IFSP - Campus Pirituba</title>        
  </head>
  <body>
    <section>
      <div>
        <h1>IFSP - Campus Pirituba</h1>        
        <form action="/" method="POST">          
          <div>            
            <ul>
                <li>
                    <label for="contato-nome">Nome</label>
                    <input type="text" name="nome" id="contato-nome" required/>
                </li>
              <br>              
                <li>
                    <label for="contato-email">E-Mail</label>
                    <input type="email" name="email" id="contato-email" required/>
                </li>
                <li>
                    <label for="contato-telefone">Telefone</label>
                    <input type="tel" name="telefone" id="contato-telefone"/> </li>
                <li>                    
                    
                   <label for="contato-assunto">Assunto</label>                   
                   <select name="assunto" id="contato-assunto" required >
                     <option value=""> -- Selecione --</option>                        
                     <option value="Reclamação">Reclamação</option>
                     <option value="Sugestão">Sugestão</option>
                   </select>                    
                                        
                </li>
                <li>
                    <label for="contato-mensagem">Mensagem</label>
                    <textarea name="mensagem" id="contato-mensagem"></textarea>
                </li>
                <li>
                    <fieldset>
                        <legend>Opções de Resposta</legend>
                        <label for="contato-resposta-email">E-Mail
                            <input id="contato-resposta-email" type="radio" name="resposta" value="E-mail" />
                        </label>
                        <label for="contato-resposta-telefone">Telefone</label>
                        <input id="contato-resposta-telefone" type="radio" name="resposta" value="Telefone" />
                    </fieldset>
                </li>
            </ul>            
            <input type="submit" value="Salvar" name="save" />            
          </div>
        </form>
        <form action="/limparBanco" method='POST'>              
              <input type='submit' value='Eliminar registros' name='delete' />
        </form>          
        <br>  
        <table border='1'>
          <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Assunto</th>
            <th>Mensagem</th>
            <th>Opções de resposta</th>
            <th>Ações</th>
          </tr>
          {% for value in contatos %}                        
            <tr>
              <td>{{contatos[value]['nome'] }}</td>
              <td>{{value}}</td>
              <td>{{contatos[value]['telefone'] }}</td>
              <td>{{contatos[value]['assunto'] }}</td>
              <td>{{contatos[value]['mensagem'] }}</td>
              <td>{{contatos[value]['resposta'] }}</td>
              <td>
                <form method='POST' action="/delete/{{value}}">
                  <input type='submit' value='Eliminar registro' name='deleteOne' />            
                </form>
                <form method='POST' action="/get/{{value}}">
                  <input type='submit' value='Alterar registro' name='alterar' />               
                </form>
              </td>
            </tr>  
          {% endfor %}                      
        </table>       
          
      </div>
    </section>
  </body>
</html>